# Lesson 2 Lab:  Practical Pandas

_This is a quiz given in Roger Peng's [Coursera](https://www.coursera.org) class [Computing for Data Analysis](https://www.coursera.org/course/compdata).  _

_Sourced from [Research Computing MeetUp's](https://github.com/ResearchComputing/Meetup-Fall-2013) Python course._

In [1]:
import pandas as pd
import os

data = pd.read_csv(os.path.join('..', '..', 'assets', 'dataset', 'ozone.csv'))

In [3]:
print data.head()

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2
2   12.0    149.0  12.6    74      5    3
3   18.0    313.0  11.5    62      5    4
4    NaN      NaN  14.3    56      5    5

Print the column names of the dataset to the screen, one column name per line.

In [29]:
print data.dtypes

Ozone      float64
Solar.R    float64
Wind       float64
Temp         int64
Month        int64
Day          int64
dtype: object

Extract the first 2 rows of the data frame and print them to the console. What does the output
look like?

In [32]:
print data.head(2)

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2

How many observations (i.e. rows) are in this data frame?

In [40]:
dim = data.shape

rows, col = dim

print rows

153

Extract the last 2 rows of the data frame and print them to the console. What does the output
look like?

In [38]:
print data.tail(2)

     Ozone  Solar.R  Wind  Temp  Month  Day
151   18.0    131.0   8.0    76      9   29
152   20.0    223.0  11.5    68      9   30

What is the value of Ozone in the 47th row?

In [70]:
data.get_value((47), 'Ozone')

37.0

How many missing values are in the Ozone column of this data frame?

In [111]:
checkData = data["Ozone"] 

checkData.isnull().sum()

37

What is the mean of the Ozone column in this dataset? Exclude missing values (coded as NA)
from this calculation.

In [112]:
checkData.mean()

42.12931034482759

Extract the subset of rows of the data frame where Ozone values are above 31 and Temp values
are above 90. What is the mean of Solar.R in this subset?

In [123]:
subset = data[(data["Ozone"] >31) & (data["Temp"] == 90)]
solarInfo = subset["Solar.R"]
solarInfo.mean()

242.33333333333334

What is the mean of "Temp" when "Month" is equal to 6?

In [129]:
monthInfo = data[(data["Month"]== 6)]
tempInfo = monthInfo["Temp"]
tempInfo.mean()

79.1

What was the maximum ozone value in the month of May (i.e. Month = 5)?

In [134]:
maySubset= data[(data["Month"]== 5)]

maySubset['Ozone'].max()

115.0